{#
/**
 * @file
 * Template for the single Ticket.
 *
 * Available variables:
 * - items: List of Ticket. Each item contains:
 *   - title
 *   - name
 *   - phone
 *   - email
 *   - location
 *   - file
 *   - related
 */
#}
<div class="row column text-center">
    <h2>{{ items['item'].title }}</h2>
    <hr/>
    <p>{{ items['item'].name }}</p>
    <p>{{ items['item'].phone }}</p>
    <p>{{ items['item'].email }}</p>
    <p>{{ items['item'].location }}</p>
    {% if items['item'].file_link %}
        <p><a href="{{ items['item'].file_link }}">{{ items['item'].file_name }}</a></p>
    {% endif %}
    <p>{{ items['item'].related }}</p>
</div>
