{#
/**
 * @file
 * Template for the Ticket archive.
 *
 * Available variables:
 * - items: List of Ticket. Each item contains:
 *   - title
 *   - name
 *   - phone
 *   - email
 *   - location
 */
#}
<div class="row column text-center">
    {% for item in items %}
        <h2>{{ item.title }}</h2>
        <p>{{ item.name }}</p>
        <p>{{ item.phone }}</p>
        <p>{{ item.email }}</p>
        <p>{{ item.location }}</p>
        <hr/>
    {% endfor %}
</div>
